* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: white;
}

section{
  background-image: url(https://images.unsplash.com/photo-1685322554217-96fb597a163f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8fA%3D%3D&dpr=1&auto=format%2Ccompress&fit=crop&w=999&h=594);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin: 90px;
}

#second-page{
  background-color: white;
  background-image: none;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: repeat(auto 1fr);
}

.main {
  padding: 0 20px;
  margin-top: 135px;
  margin-bottom: 135px;
}
.main-heading {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.main-first-line {
  margin-top: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 18px;
}
.main-second-line {
  font-size: 18px;
  font-weight: 400;
}
.items {
  color: rgb(138, 132, 132);
}
